/* =============== GŁÓWNY STYL =============== */
html, body {
  margin: 0;
  padding: 0;
  color: #dedede;
  font-family: "Google Sans", sans-serif;
  min-height:100vh;
  width:100%;
  overflow-x: hidden;
  background-color:#000;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.wrapper{
  background-color: #000000e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1{
  font-family: "Indie Flower", monospace;
  text-align:center;
  margin-top:20px;
  font-size:2.5em;
}
/* =============== ELEMENTY WSPÓLNE =============== */
/* navbar, albo chociaż jego namiastka */
.minimal-nav {
  display: flex;
  justify-content: right;
  gap: 1.25rem;
  padding: 1rem;
  background: transparent;
  font-size:1.25rem;
  list-style: none;
}

.minimal-nav img{
  width:25px;
  height:auto;
  opacity:0.7;
  transition: all 0.3s ease;
}
.nav-link img:hover, .currently-here {
  opacity: 1;
  scale: 1.25;
}

/* stopka? o ile można to nazwać stopką */
.the-veri-end{
    text-align: center;
    background-color: #11111198;
    color: white;
    padding: 10px 0;
}

/* =============== ABOUTME.HTML =============== */

.aboutme{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: 20px 40px;
  justify-content: center;
}

.abtme{
  background-color: #111111c5;
  padding:20px 20px;
  flex: 1 1 450px;
  min-width: 280px;  
  transition: all 0.3s ease;
}

.abtme a{
  color: #a4c4db;
  text-decoration: none;
}

.abtme:hover{
  background: #111;
  box-shadow: 0 0 10px #222;

}

.ending{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

.ending img{
  max-width: 400px;
  width:80%;
}

/* =============== TRANSIT.HTML (przestarzałe) =============== */

.transit{
  margin:20px 40px;
}

.trnst-secs a{
  color:rgb(154, 181, 255);
  font-style:italic;
}

.trnst-secs{
  background-color:#111111b6;
  padding: 20px 40px;
}

.trnst-vids{
  text-align: center;
  margin-bottom: 20px;
}

/* =============== INDEX.HTML =============== */

.wrapper-index {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem 1rem;
  overflow: hidden;
  background-color: #000000bd;
}

.wrapper-index h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.linki {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.linki img {
  width: 48px;
  height: auto;
  filter: grayscale(0.2) brightness(0.9);
  transition: transform 0.2s ease, filter 0.2s ease;
}

.linki img:hover {
  transform: scale(1.1);
  filter: none;
}

@media (max-width: 768px){
  .wrapper-index h1{
    font-size:3rem;
  }
}

/* =============== ALBUMS.HTML =============== */

.alb{
  background-color: #000000a7;
}

.albums{
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.albums img {
  width: 175px;
  height:auto;
  transition: 0.3s ease;
}

.albums img:hover{
  transform: scale(1.05);
  background-color: #000000;
  box-shadow: 0 0 15px #555;
}

.adno{
  text-align: center;
}

.terminal{
  margin: 40px auto;
  text-align: center;
  font-size:1.5rem;
}

#mrugaczek::after {
  content: "█"; 
  animation: blink 1.2s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@media (max-width:768px){
  .albums {
    gap: 10px;
    justify-content: center;
  }

  .albums img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    transition: 0.3s ease;
    margin: 0 auto;
  }
}

/* =============== GALERIA.HTML =============== */

.gal{
  font-size:4rem;
}

.galeria-wrapper{
  margin-top: 40px;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.galeria-wrapper a {
  margin:7px;
  display: inline-block;
}

.galeria-wrapper img {
  transition: 0.3s ease;
}

.galeria-wrapper img:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px #555;
}

.galeria-poziom img{
  width:300px;
  height:auto;
}

.galeria-pion img{
  width:auto;
  height:300px;
}

.lb-number{
  display:none !important;
}

.fake-player {
  max-width: 400px;
  margin: 4rem auto 2rem;
  background: #111;
  border: 2px solid #333;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #eee;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.track-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cover {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 4px;
}

.controls {
  margin-top: 1rem;
}

.progbar {
  background: #333;
  height: 6px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progbar-filled {
  width: 37%;
  background: #fff;
  height: 100%;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  opacity: 0.6;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttons button {
  background: none;
  border: none;
  color: #eee;
  cursor: not-allowed;
  opacity: 0.7;
}

.buttons img{
  width:25px;
  height:auto;
}